body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.details-heading{
    text-align: center;
    margin: 2%;
}
  
.top-players{
}
    .top-players p{
            background-color: lightgreen;
            margin: 0;
            font-size: 1.5em;
            color: white;
        }
    
    .top-players p{
            
        }

    .top-players div{
        padding: 0;
    }

    .top-players ul{
        margin: 0;
    }

    #img-wrapper{
        max-height: 30%;
        overflow:hidden;
    }

    .image {
        max-height: 10.5em;
    }

.control-buttons{
    margin: 1em;
}

.box-title{
    height: 3em;
    background-color: lightgreen;
    margin: 0;
    font-size: 1.5em;
    color: white;
    vertical-align: middle;
    text-align:center;
}