@{
    ViewBag.Title = "Navigation";
}

<div>
    <h2 class="text-center">Администрация</h2>
    <a href="~/Administration/Game/Index" class="btn btn-default btn-lg btn-block">Мачове</a>
    <a href="~/Administration/Field/Index" class="btn btn-default btn-lg btn-block">Игрища</a>
    <a href="~/Administration/User/Index" class="btn btn-default btn-lg btn-block">Потребители</a>
</div>