@model int?

<div class="row">
    <div class="col-md-3">
        @Html.LabelFor(g => g)
    </div>
    <div class="col-md-3">
        @Html.Kendo().IntegerTextBoxFor(m => m).Min(1).Max(11).Value(1)
    </div>
    <div class="col-md-3">
        @Html.ValidationMessageFor(g => g)
    </div>
</div>
