@{
    ViewBag.Title = "Игрища";
    const string ControllerName = "Field";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo()
    .Grid<TeamUp.Web.Areas.Administration.Models.FieldViewModel>()
    .Name("adminGridFields")
    .Columns(cols =>
        {
            cols.Bound(pr => pr.Name);
            cols.Bound(pr => pr.Img)
                .ClientTemplate("<img src='" + @Url.Action("Image", "Field", new {id = "#= Img.Id #"}) +"' alt='@Model.Name' class='img-responsive' />")
                .Width(150)
                .EditorTemplateName("FormImage");
            cols.Bound(pr => pr.Phone);
            cols.Bound(pr => pr.Website).ClientTemplate("<a href='#= Website #' target='_blank'>Сайт</a>").Width(50);
            cols.Bound(pr => pr.City);
            cols.Bound(pr => pr.Neighbourhood).Width(150);
            cols.Bound(pr => pr.Street).Width(60);
            cols.Bound(pr => pr.StreetNumber).Width(10);
            cols.Command(com => com.Edit()).Title("Промени");
            cols.Command(com => com.Destroy()).Title("Изтрий");
        })
    .Sortable()
    .Pageable(page => page.Refresh(true))
    .Editable(edit =>
        {
            edit.Mode(GridEditMode.PopUp);
        })
    .ColumnMenu()
    .DataSource(data => data
        .Ajax()
        .Model(m => m.Id(adv => adv.Id))
        .Read(read => read.Action("Read", ControllerName))
        .PageSize(5)
        .Update(update => update.Action("Update", ControllerName))
        .Destroy(destroy => destroy.Action("Destroy", ControllerName))
        ))